<!-- Edit Product Modal -->
<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editProductModalLabel">Edit Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container row g-3 mt-3 mb-3">
                <!-- Product Name input field -->
                <div class="col-sm-6">
                    <label for="productName" class="form-label">Name</label>
                    <label for="editproductName"></label><input type="text" class="form-control" id="editproductName" name="nazev" placeholder="Enter product name">
                </div>
                <!-- Product Description input field -->
                <div class="col-12">
                    <label for="productDescription" class="form-label">Product Description</label>
                    <label for="editproductDescription"></label><textarea class="form-control" name="popis" id="editproductDescription" rows="5" placeholder="Enter product description"></textarea>
                </div>
                <!-- Product Price input field -->
                <div class="col-sm-6">
                    <label for="productPrice" class="form-label">Price</label>
                    <label for="editproductPrice"></label><input type="number" class="form-control" name="cena" id="editproductPrice" min="0" placeholder="Enter price">
                </div>
                <!-- Product Quantity input field -->
                <div class="col-md-4">
                    <label for="productStock" class="form-label">Quantity</label>
                    <label for="editproductStock"></label><input type="number" class="form-control" name="mnozstvi" id="editproductStock" min="0" placeholder="Enter quantity">
                </div>

                <!-- Product Image upload -->
                <div class="col-md-5">
                    <label for="productImage" class="form-label">Product Image</label>
                    <div class="col-md-5" id="existingImageWrapper"></div>
                    <input type="file" class="form-control" name="fileToUpload" id="editfileToUpload">
                </div>
            </div>

            <!-- Footer buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="saveProductChanges" class="btn btn-warning" data-product-id="">Save</button> 
            </div>
        </div>
    </div>
</div>
