<!-- Pridani produktu Modal -->
<div class="modal fade" id="addproductModal" tabindex="-1" aria-labelledby="sendModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Přidat Produkt</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container row g-3 mt-3 mb-3">
                <!-- Jmeno produktu txt pole -->
                <div class="col-sm-6">
                    <label for="productName" class="form-label">Jméno</label>
                    <input type="text" class="form-control" id="productName" name="nazev" placeholder="Zadejte jméno produktu">
                </div>
                <!-- Popis txt pole -->
                <div class="col-12">
                    <label for="productDescription" class="form-label">Popis produktu</label>
                    <textarea class="form-control" name="popis" id="productDescription" rows="5" placeholder="Zadejte popis produktu"></textarea>
                </div>
                <!-- Cena txt pole -->
                <div class="col-sm-6">
                    <label for="productPrice" class="form-label">Cena</label>
                    <input type="number" class="form-control" name="cena" id="productPrice" min="0" placeholder="Zadejte cenu">
                </div>
                <!-- Pocet na sklade txt pole -->
                <div class="col-md-4">
                    <label for="productStock" class="form-label">Množství</label>
                    <input type="number" class="form-control" name="mnozstvi" id="productStock" min="0" placeholder="Zadejte množství">
                </div>
                <!-- Obrazek upload -->
                <div class="col-md-5">
                    <label for="productImage" class="form-label">Fotka produktu</label>
                    <input type="file" class="form-control" name="fileToUpload" id="fileToUpload">
                </div>
            </div>
            <!-- Footer btns -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="button" id="pridatProdukt" class="btn btn-warning" value="Přidat produkt">
            </div>
        </div>
    </div>
</div>