<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Přihlásit se</h1> <!-- Modal title -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> <!-- Close button -->
            </div>
            <div class="container">
                <!-- User email input field -->
                <div class="mb-3">
                    <label for="signinEmailInput" class="form-label">Email</label>
                    <input type="email" id="signinEmailInput" class="form-control" placeholder="Zadejte svůj e-mail">
                </div>
                <!-- Password input field -->
                <div class="mb-3">
                    <label for="signinPassInput" class="form-label">Heslo</label>
                    <input type="password" id="signinPassInput" class="form-control" placeholder="Zadejte své heslo">
                </div>
            </div>
            <!-- Footer with buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                <input type="button" id="prihlasit" class="btn btn-warning" value="Přihlásit">
            </div>
        </div>
    </div>
</div>